.o-product-list {

    &__search {
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    padding: .25rem 1rem 1rem 1rem;
    background-color: $white;

        .c-search {
            width: 100%;
        }
    }
}