.o-product-group {
    padding: .75rem 1.25rem;
    margin-bottom: 10px;
    height: 40vh;
    background-color: white;

    &__header {

        span {
            font-size: 16px;
            color: #d82927;
            letter-spacing: 0;
            text-align: left;
            font-weight: 400;
        }
    }
}