.c-add-to-cart {
    border: 1px solid $green;
    display: inline-flex;
    border-radius: 2px;
    cursor: pointer;

    span {

        &:first-of-type {
            padding: .25rem 1rem;
            background: $white;
            font-size: 12px;
            color: $green;
            letter-spacing: 0;
            text-align: center;
        }

        &:last-of-type {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;
            color: $white;
            min-width: 20px;
            text-align: center;
        }
    }
}