.c-button {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    outline: none;

    &--primary {
        background-color: $red;
        border-color: $red;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 300;

        &:hover {
            background-color: transparent;
            color:  $red;
        }
    }

    &--order {
        background-color: $green;
        border-color: $green;
        color: #fff;
        font-size: .7rem;
        font-weight: 500;
    }

    &--preorder {
        background: $light_blue;
        border-color: $light_blue;
        font-size: .7rem;
        color: $white;
    }

    &--closed {
        border-color: $lg_1;
        font-size: .7rem;
        color: $red;
        letter-spacing: 2px;
        background: none;
    }
}