.c-discount-tag {
    $self: &;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 10px;
    letter-spacing: .5px;
    line-height: 12px;
    text-align: center;

    &__tag {
        max-width: 60px;
        background: $orange;
        color: $white;
        text-transform: uppercase;
        padding: 3px;
        border-radius: 2px;
    }

    &__description {
        margin-top: 2px;
        color: $mg_1;
    }

    &--inline {
        flex-direction: row;
        align-items: center;
        #{$self}__tag {
            margin-right: 10px;
        }
    }
}