.c-postcode-search {
    padding: 15px;
    display: flex;
    width: 100%;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    input {
        width: 100%;
        outline: none;
        border: none;
        font-size: 16px;
        color: #333;
        line-height: 30px;
        padding: 0 .5rem;
    }
}