.c-search {
    display: inline-flex;
    align-items: center;
    padding: .5rem;
    background-color: #FFF;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    input {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        border: none;
        outline: none;
        cursor: pointer;

        &::-webkit-input-placeholder { /* Edge */
            color: rgb(207, 207, 207);
            font-size: .9em;
            font-weight: lighter;
          }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(207, 207, 207);
            font-weight: lighter;
            font-size: .9em;
        }
        
        &::placeholder {
            color: rgb(207, 207, 207);
            font-weight: lighter;
            font-size: .9em;
        }
    }
}