// Basic
$white : #FFF;
$off_white : #f2f2f2;
$black : #000;

// Brand
$red : #d82927;
$green : #63c156;
$light_blue : #42bedb;
$mid_blue : #198ebc;
$orange : #f47925;
$faded_orange : #af9e80;

// Grays
$lg_1 : #eee;
$lg_2 : #ccc;
$mg_1 : #888;
$mg_2 : #555;
$mg_blue : #495057;
$dg_1 : #333;