* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@import '~foundation-sites/scss/foundation';

@include foundation-xy-grid-classes;

body {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
}

@import 'utilities/align-x';


@import 'objects/header';
@import 'objects/footer';
@import 'objects/listings';
@import 'objects/hero';
@import 'objects/restaurant-filter';
@import 'objects/hero-restaurant';
@import 'objects/category-list';
@import 'objects/product-list';
@import 'objects/basket';

@import 'components/search';
@import 'components/discount-tag';
@import 'components/cuisine-card';
@import 'components/restaurant-card';
@import 'components/postcode-search';
@import 'components/button';
@import 'components/product-group';
@import 'components/product-list-item';
@import 'components/add-to-cart';